@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme="dark"] {
  --background: #1a202c;
  --foreground: #ffffff;
}

/* Future themes can be added here */
[data-theme="party"] {
  --background: #e0adad;
  --foreground: #ce2727;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  visibility: hidden;
}

body[data-theme-set] {
  visibility: visible;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
