@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --action-base: rgb(242, 139, 130);
  --surface-base: rgb(253, 246, 243);
  --content-base: rgb(58, 58, 58);
  --visual-base: rgb(243, 226, 225);
}

[data-theme="dark"] {
  --action-base: rgb(139, 62, 62);
  --surface-base: rgb(35, 35, 35);
  --content-base: rgb(255, 255, 255);
  --visual-base: color-mix(in srgb, rgb(139, 62, 62) 30%, rgb(35, 35, 35));
}

/* Future themes can be added here */
[data-theme="party"] {
  --action-base: rgb(242, 139, 130);
  --surface-base: rgb(255, 209, 193);
  --content-base: rgb(139, 62, 62);
  --visual-base: color-mix(in srgb, rgb(242, 139, 130) 80%, rgb(255, 209, 193));
}

body {
  background-color: var(--surface-base);
  color: var(--content-base);
  visibility: hidden;
}

body[data-theme-set] {
  visibility: visible;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* p {
  color: color-mix(in srgb, var(--content-base) 80%, var(--surface-base));
} */
